
/* CSS FOR TABLET */
@media screen and (max-width: 992px){

}

/* CSS FOR MOBILE */
@media screen and (max-width: 600px){


  #mobile-nav #mobile-menu {
    display: none;
  }
  #mobile-nav ul {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
  }
  #mobile-nav ul li a {
    color: black;
  }

  #mobile-nav .logo-nav {
    height: 120px;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #fff;
  }
  #mobile-nav .logo-nav img {
    width: 25%;
  }

  footer span {
    font-size: 10px;
  }
}


