
@media screen and (min-width: 993px){
.feed-card:hover img {
  -webkit-transform: translate(-8px, -8px);
  -moz-transform: translate(-8px, -8px);
  -ms-transform: translate(-8px, -8px);
  transform: translate(-8px, -8px);
}

.feed-card:hover {
  -webkit-transform: translate(2px, 2px);
  -moz-transform: translate(2px, 2px);
  -ms-transform: translate(2px, 2px);
  transform: translate(2px, 2px);
}

.feed-card:hover span {
  left: -2px;
  top: 10px;
}


}

/* CSS FOR TABLET */
@media screen and (max-width: 992px){

}

/* CSS FOR MOBILE */
@media screen and (max-width: 600px){


  #mobile-nav #mobile-menu {
    display: none;
  }
  #mobile-nav ul {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
  }
  #mobile-nav ul li a {
    color: black;
  }

  #mobile-nav .logo-nav {
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #fff;
  }
  #mobile-nav .logo-nav img {
    height: 60px;
    width: 60px;
  }

  footer {
    display: flex;
    flex-direction: column;
  }

  .wrapper h1 {
    font-size: 3.2rem;
  }

  .wrapper {
    padding: 80px 10px 40px 10px;
  }
}


